#PageTitle {
	font-size: 75px;
	line-height: 1em;
	margin: 1em 0;
}
#Insult {
	border: solid 1px #ccc;
	border-radius: 10px;
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	height: 3em;
	line-height: 1em;
	margin: 1em 0;
	padding: 1em;
}